<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
</head>
<body>
<div id="player"></div>
<!--<video src="http://localhost:8888/test/?q=<%= data %>" controls></video>-->
<a href="http://localhost:8888/test/?q=<%= data %>">link</a>

<!--<video id="my-video" class="video-js" controls preload="auto" width="640" height="264"-->
       <!--data-setup="{}">-->
    <!--<source src="http://localhost:8888/test/?q=<%= data %>" type='video/mp4'>-->
    <!--<source src="http://localhost:8888/play/?q=<%= data %>" type='video/webm'>-->
    <!--<source src="http://localhost:8888/play/?q=<%= data %>" type='video/avi'>-->
    <!--<source src="http://localhost:8888/play/?q=<%= data %>" type='video/mkv'>-->
    <!--<p class="vjs-no-js">-->
        <!--To view this video please enable JavaScript, and consider upgrading to a web browser that-->
        <!--<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>-->
    <!--</p>-->
<!--</video>-->



<script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
</body>
</html>
